# バイトコンパイルファイル .elc
*.elc

# auto save file
*.el~
*.*~
*~

# ruby file
*.rb

# python file
*.py
*.pyc
*.pym
.python-environments/*

# color-theme download
themes_download/

# other file
*.txt
*.png
*.exe
*.xml
*.h
*.xpm
*.scm
*.sml

# direct ignore
ac-comphist.dat
elpa/archives/gnu/archive-contents
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
elpa/auto-complete-20160416.604/dict/ada-mode
elpa/auto-complete-20160416.604/dict/c++-mode
elpa/auto-complete-20160416.604/dict/c-mode
elpa/auto-complete-20160416.604/dict/caml-mode
elpa/auto-complete-20160416.604/dict/clojure-mode
elpa/auto-complete-20160416.604/dict/clojurescript-mode
elpa/auto-complete-20160416.604/dict/coq-mode
elpa/auto-complete-20160416.604/dict/css-mode
elpa/auto-complete-20160416.604/dict/erlang-mode
elpa/auto-complete-20160416.604/dict/ess-julia-mode
elpa/auto-complete-20160416.604/dict/go-mode
elpa/auto-complete-20160416.604/dict/haskell-mode
elpa/auto-complete-20160416.604/dict/java-mode
elpa/auto-complete-20160416.604/dict/js-mode
elpa/auto-complete-20160416.604/dict/julia-mode
elpa/auto-complete-20160416.604/dict/lua-mode
elpa/auto-complete-20160416.604/dict/nim-mode
elpa/auto-complete-20160416.604/dict/octave-mode
elpa/auto-complete-20160416.604/dict/php-mode
elpa/auto-complete-20160416.604/dict/python-mode
elpa/auto-complete-20160416.604/dict/qml-mode
elpa/auto-complete-20160416.604/dict/ruby-mode
elpa/auto-complete-20160416.604/dict/scala-mode
elpa/auto-complete-20160416.604/dict/scheme-mode
elpa/auto-complete-20160416.604/dict/sclang-mode
elpa/auto-complete-20160416.604/dict/sh-mode
elpa/auto-complete-20160416.604/dict/tcl-mode
elpa/auto-complete-20160416.604/dict/ts-mode
elpa/auto-complete-20160416.604/dict/tuareg-mode
elpa/auto-complete-20160416.604/dict/verilog-mode
elpa/emacs-cl-0.5/COPYING
elpa/emacs-cl-0.5/Makefile
elpa/emacs-cl-0.5/README
elpa/emacs-cl-0.5/emacs-cl
elpa/jedi-20151214.705/env/bin/activate
elpa/jedi-20151214.705/env/bin/activate.csh
elpa/jedi-20151214.705/env/bin/activate.fish
elpa/jedi-20151214.705/env/bin/easy_install
elpa/jedi-20151214.705/env/bin/easy_install-2.7
elpa/jedi-20151214.705/env/bin/pip
elpa/jedi-20151214.705/env/bin/pip2
elpa/jedi-20151214.705/env/bin/pip2.7
elpa/jedi-20151214.705/env/bin/python
elpa/jedi-20151214.705/env/bin/python-config
elpa/jedi-20151214.705/env/bin/python2
elpa/jedi-20151214.705/env/bin/python2.7
elpa/jedi-20151214.705/env/bin/wheel
elpa/jedi-20151214.705/env/include/python2.7
elpa/jedi-20151214.705/env/lib/python2.7/distutils/distutils.cfg
elpa/jedi-20151214.705/env/lib/python2.7/encodings
elpa/jedi-20151214.705/env/lib/python2.7/lib-dynload
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/epc-0.0.5.dist-info/DESCRIPTION.rst
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/epc-0.0.5.dist-info/INSTALLER
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/epc-0.0.5.dist-info/METADATA
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/epc-0.0.5.dist-info/RECORD
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/epc-0.0.5.dist-info/WHEEL
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/epc-0.0.5.dist-info/metadata.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/jedi-0.9.0.dist-info/DESCRIPTION.rst
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/jedi-0.9.0.dist-info/INSTALLER
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/jedi-0.9.0.dist-info/METADATA
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/jedi-0.9.0.dist-info/RECORD
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/jedi-0.9.0.dist-info/WHEEL
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/jedi-0.9.0.dist-info/metadata.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip-8.1.1.dist-info/DESCRIPTION.rst
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip-8.1.1.dist-info/INSTALLER
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip-8.1.1.dist-info/METADATA
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip-8.1.1.dist-info/RECORD
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip-8.1.1.dist-info/WHEEL
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip-8.1.1.dist-info/metadata.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip/_vendor/distlib/_backport/sysconfig.cfg
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/pip/_vendor/requests/cacert.pem
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/DESCRIPTION.rst
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/INSTALLER
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/METADATA
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/RECORD
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/WHEEL
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/metadata.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools-20.9.0.dist-info/zip-safe
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools/script (dev).tmpl
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/setuptools/script.tmpl
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/sexpdata-0.0.3.dist-info/DESCRIPTION.rst
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/sexpdata-0.0.3.dist-info/INSTALLER
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/sexpdata-0.0.3.dist-info/METADATA
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/sexpdata-0.0.3.dist-info/RECORD
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/sexpdata-0.0.3.dist-info/WHEEL
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/sexpdata-0.0.3.dist-info/metadata.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel-0.29.0.dist-info/DESCRIPTION.rst
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel-0.29.0.dist-info/INSTALLER
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel-0.29.0.dist-info/METADATA
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel-0.29.0.dist-info/RECORD
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel-0.29.0.dist-info/WHEEL
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel-0.29.0.dist-info/metadata.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel/test/pydist-schema.json
elpa/jedi-20151214.705/env/lib/python2.7/site-packages/wheel/test/test-1.0-py2.py3-none-win32.whl
elpa/jedi-20151214.705/env/local/bin
elpa/jedi-20151214.705/env/local/include
elpa/jedi-20151214.705/env/local/lib
elpa/jedi-20151214.705/env/pip-selfcheck.json
elpa/jedi-core-20151214.705/Makefile
elpa/slime-20160419.858/ChangeLog
elpa/slime-20160419.858/contrib/ChangeLog
elpa/slime-20160419.858/contrib/Makefile
elpa/slime-20160419.858/contrib/README.md
elpa/slime-20160419.858/contrib/swank-goo.goo
elpa/slime-20160419.858/contrib/swank-ikarus.ss
elpa/slime-20160419.858/contrib/swank-jolt.k
elpa/slime-20160419.858/dir
elpa/slime-20160419.858/slime.info
elpa/slime-20160419.858/swank.asd
elpa/w3m-20121224.1747/icons/spinner.gif
slime/ChangeLog
slime/contrib/ChangeLog
slime/contrib/Makefile
slime/contrib/README.md
slime/contrib/swank-goo.goo
slime/contrib/swank-ikarus.ss
slime/contrib/swank-jolt.k
slime/dir
slime/slime.info
slime/swank.asd
elisp/dash.el/.travis.yml
elisp/dash.el/Cask
elisp/dash.el/create-docs.sh
elisp/dash.el/dash-template.texi
elisp/dash.el/dash.info
elisp/dash.el/dash.texi
elisp/dash.el/dev/.nosearch
elisp/dash.el/pre-commit.sh
elisp/dash.el/readme-template.md
elisp/dash.el/run-tests.sh
elisp/dash.el/run-travis-ci.sh
elisp/dash.el/watch-tests.watchr
snippets/emacs-lisp-mode/define-key
yasnippet/.travis.yml
yasnippet/CONTRIBUTING.md
yasnippet/NEWS
yasnippet/README.mdown
yasnippet/Rakefile
yasnippet/doc/.nosearch
yasnippet/doc/faq.org
yasnippet/doc/index.org
yasnippet/doc/nav-menu.html.inc
yasnippet/doc/org-setup.inc
yasnippet/doc/snippet-development.org
yasnippet/doc/snippet-expansion.org
yasnippet/doc/snippet-menu.org
yasnippet/doc/snippet-organization.org
yasnippet/doc/snippet-reference.org
yasnippet/doc/stylesheets/manual.css
yasnippet/doc/stylesheets/styles.css
yasnippet/snippets/
yasnippet/yasmate/
elpa/seq-2.15/ChangeLog
